.available {
  background: #4fd1c5;
}
.available:hover {
  background: #48bb78;
}

.not_available input {
  cursor: not-allowed !important;
}
.not_available:hover {
  background: #e53e3e;
}

.center_absolute {
  transform: translate(-50%, -100%);
}

.popup {
  opacity: 0;
}
.not_available .popup {
  background: #e53e3e;
}

.time_option:hover .popup {
  opacity: 1;
  transition: 250ms ease-in-out;
}
/*.mr-1{margin-right: 0.1rem}*/

.time-selector-w {
  /* display: none; */
  padding-bottom: 30px;
  margin-top: 20px;
  margin-left: -2px;
  margin-right: -2px;
}

.times-header {
  font-size: 14px;
  text-align: center;
  padding-bottom: 10px;
}
.times-header span {
  color: #03a9f4;
  border-bottom: 1px dotted #03a9f4;
}
.os-dates-w {
  margin: 0px -2.2%;
}
.os-times-w {
  position: relative;
}
.timeslots {
  display: flex;
  justify-content: space-between;
}
.timeslots .not-working-message {
  flex: 1;
  padding: 3px 5px;
  text-align: center;
  background-color: #ffd4d4;
  color: #752f2f;
  font-weight: 500;
}
.dp-timeslot {
  height: 24px;
  flex-grow: 1;
  margin: 0px;
  box-shadow: inset 1px 0px 0px 0px #fff, inset -1px 0px 0px 0px #fff;
  border-radius: 0px;
  position: relative;
  cursor: pointer;
  background-color: #8fe286;
}

.dp-timeslot .radioBtn{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.dp-timeslot .dp-tick {
  position: absolute;
  display: block;
  top: 34px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 7px;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  line-height: 1.4;
  font-weight: 500;
  letter-spacing: 1px;
}
.dp-timeslot .dp-tick strong {
  display: block;
  color: #000;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 0px;
  white-space: nowrap;
}
.dp-timeslot .dp-success-label {
  color: rgba(255, 255, 255, 0.8);
  display: block;
  text-align: center;
  margin-bottom: 4px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 9px;
}
.dp-timeslot .dp-label {
  display: none;
  text-align: center;
  padding: 7px 8px 7px 8px;
  line-height: 1;
  background-color: #04bb03;
  color: #fff;
  font-size: 11px;
  font-weight: 500;
  position: absolute;
  left: 50%;
  top: -8px;
  transform: translate(-50%, -100%);
  white-space: nowrap;
  transition: all 0.2s ease;
  z-index: 10;
}
.dp-timeslot.selected:not(.is-booked),
.dp-timeslot.selected:not(.is-off) {
  background-color: #03a9f4;
  z-index: 4;
}
.dp-timeslot.selected:not(.is-booked):hover,
.dp-timeslot.selected:not(.is-off):hover {
  background-color: #03a9f4;
}
.dp-timeslot.selected:not(.is-booked):after,
.dp-timeslot.selected:not(.is-off):after {
  content: "";
  position: absolute;
  width: 1px;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
  bottom: 0px;
  background-color: #03a9f4;
  display: none;
}
.dp-timeslot.selected:not(.is-booked) .dp-label,
.dp-timeslot.selected:not(.is-off) .dp-label {
  top: -3px;
  background-color: #03a9f4;
  color: #fff;
  display: block;
}
.dp-timeslot.selected:not(.is-booked):before,
.dp-timeslot.selected:not(.is-off):before {
  background-color: #03a9f4;
  display: block;
  width: 10px;
  height: 10px;
  transform: translateX(-50%) rotate(45deg);
  top: -12px;
  left: 50%;
}
.dp-timeslot.is-booked {
  background-color: #e6e9ef;
  margin: 0px;
  cursor: not-allowed;
}
.dp-timeslot.is-booked:before {
  background-color: #e42806;
}
.dp-timeslot.is-booked .dp-label {
  background-color: #e42806;
}
.dp-timeslot.is-booked:hover {
  background-color: #e42806;
}
.dp-timeslot.is-off {
  background-color: #e6e9ef;
  margin: 0px;
  border-color: #fff;
  max-width: 25%;
  cursor: not-allowed;
}
.dp-timeslot.is-off:before {
  background-color: #e42806;
}
.dp-timeslot.is-off .dp-label {
  background-color: #e42806;
}
.dp-timeslot.is-off:hover {
  background-color: #e6e9ef;
}
.dp-timeslot.is-off:hover .dp-label {
  display: none;
}
.dp-timeslot.with-tick:after {
  content: "";
  position: absolute;
  width: 1px;
  left: 50%;
  height: 3px;
  bottom: -7px;
  background-color: rgba(0, 0, 0, 0.4);
}
.dp-timeslot:hover {
  background-color: #04bb03;
}
.dp-timeslot:hover:before {
  top: 0px;
}
.dp-timeslot:hover .dp-label {
  display: block;
}
